$white:white;
$gray_8:#888;
$gray:#666;
$gray_63:#636363;
$gray_4b:#4b4b4b;
$gray_46:#464646;
$gray_4a:#4a4a4a;
$gray_36:#363636;
$gray_26:#262626;
$gray_eee:#eee;
$green:#21aa58;
$transparent:transparent;
$bg-white-opacity:rgba(255,255,255,0.1);