@media (max-width:768px) {
    .header {
        padding: 0 20px;
    }

    header ul {
        display: none;
    }

    header span {
        display: block !important;
        font-size: 25px !important;
        color: #555;
        cursor: pointer;
        order: 1;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main {
        display: flex;
        flex-direction: column;
        height: auto !important;
    }

    .main .main-left {
        order: 1;
        width: 100% !important;
    }

    .main .main-right {
        order: 2;
        width: 100% !important;
    }

    .main .main-right h1,
    p {
        padding: 0 35px !important;
    }

    .main .main-right .email {
        display: none;
    }

    .main .main-right .app {
        color: #262626;
        background: $white;
        padding: 10px 40px;
        margin: 30px;
        display: block;
        text-align: center;
    }

    .market_img {
        display: none !important;
    }

    .container .service {
        margin: 0 !important;
    }

    .service .main_service {
        width: 100% !important;


    }

    .main_service h1 {
        font-size: 30px !important;
        display: flex;
        justify-content: start !important;
        padding-right: 30px;
    }

    .main_service p {
        display: none !important;
    }

    .main_service ul li a img {
        width: 45px;
        height: 45px;
    }

    .main_service ul li a div h4 {
        color: #4a4a4a;
        font-size: 15px !important;
    }

    .main_service ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-right: 0;
    }

    .main_service ul li {
        width: calc(3333.3333333% - 30px) !important;
    }

    .banner_food {
        width: 100% !important;
        height: 220px !important;
        padding: 0 30px;
    }

    .snapp1 {
        width: 100% !important;
        height: 450px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 200px !important;
    }

    .snapp1 .snapp1_right {
        width: 100% !important;
        height: auto !important;
    }

    .snapp1 .snapp1_left {
        width: 100% !important;
        height: auto !important;
        padding: 25px 35px !important;
    }

    .boxes {
        display: none !important;
    }

    section {
        margin-top: 350px !important;
    }

    section div {
        width: 100% !important;
    }

    section div p {
        font-size: 15px !important;
    }

    section video {
        width: 90% !important;
    }

    .end .end-box {
        width: 100% !important;
    }

    .end .end-box ul li {
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .footer footer ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer footer ul li {
        padding: 15px !important;
    }

    .footer footer .social {
        width: 100% !important;
    }
}