.header{
    @include flex(center,center);
    @include w_h(100%,95px);
    background: $white;
    border-bottom: 1px solid $gray_8;
}
header{
    @include w_h(1200px,100%);
    @include flex(start,center);
    flex-wrap: wrap;

    ul{
        @include flex(center,center);

        li{
            padding: 0 15px;
            &:nth-child(1){
                padding-right: 40px !important;
            }

            a{
                color: $gray;
            }
        }
    }
}
.brand{
    font-size: 2rem;
    color: $green;
}